*{
    text-align: center;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.profile_pic{
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
section{
    padding: 50px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}